:root {
  --font-primary: #f6f7f9;
  --font-secondary: #53687e;
  --bg-primary: #16181d;
  --bg-secondary: #23272f;
  --react-logo: #00D8FF;
}

/** Default styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--font-primary);
}

li {
  list-style-type: none;
}

a {
  all: unset;
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

/** Styles for cover */
.course__cover {
  width: 100%;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 48px 24px;
}

.course__title {
  font-size: 40px;
  text-align: center;
}

.course__desc {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
}

.react__svg {
  width: 100px;
  margin-bottom: 16px;
}

.react__svg:hover {
  cursor: pointer;
}

.uwcs__logo {
  width: 20px;
}

/** Styles for general layout */
main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/** Styles for Header component */
header {
  width: 100%;
  height: 64px;
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px rgba(246, 247, 249, .05) solid;
}

.header__title {
  font-weight: 600;
  font-size: 18px;
}

.course__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.course__link {
  width: 100%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-weight: 600;
  border-radius: 48px;
}

.course__link__clr {
  background-color: var(--react-logo);
  color: var(--bg-secondary);
}

.course__link__alt {
  border: 1px #404756 solid;
}

/** Styles for CourseCard component */
.cards__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px 24px 24px;
}

.card__container {
  width: 100%;
  background-color: var(--bg-secondary);
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__title {
  font-size: 24px;
  color: var(--font-primary);
  font-weight: 600;
}

.card__desc {
  font-size: 16px;
  color: var(--font-primary);
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card__tag {
  font-size: 12px;
  color: var(--font-secondary);
  font-weight: 500;
}

.card__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Styles for Footer component */
footer {
  width: 100%;
  height: 64px;
  background-color: var(--bg-secondary);
  border-top: 1px rgba(246, 247, 249, .05) solid;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  color: var(--font-primary);
}

/** Media queries */
@media screen and (min-width: 1024px) {
  header {
    position: relative;
    border: none;
    padding: 0 16px;
  }
  
  .header__title {
    display: none;
  }
  
  .course__cover {
    padding: 96px 20px 128px 20px;
    gap: 16px;
  }

  .course__title {
    font-size: 64px;
  }

  .react__svg {
    width: 120px;
  }

  .course__links {
    flex-direction: row;
    justify-content: center;
  }

  .course__link {
    width: 180px;
  }

  .cards__container {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 96px auto 96px auto;
  }

  .card__title {
    font-size: 32px;
  }

  .card__desc {
    font-size: 18px;
    flex-grow: 1;
  }

  .card__tags {
    gap: 12px;
  }

  .card__tag {
    font-size: 14px;
  }

  footer {
    border: none;
    padding: 48px;
  }
}